@import url("https://fonts.googleapis.com/css2?family=Caramel&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* background-color: rgb(244, 248, 252); */
    font-family: "Roboto", sans-serif;
    height: 100%;
}
a {
    text-decoration: none;
}
.header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    background-image: url("../images/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    padding-top: 15px;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 3;
}
.logo {
    display: flex;
    justify-content: space-around;
    flex: 2;
}
.logo_link {
    color: rgb(240, 27, 27);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}
.navigation a {
    cursor: pointer;
    color: rgb(245, 245, 245);
    font-size: 16px;
    letter-spacing: 1px;
}
.navigation a:hover {
    color: rgb(236, 78, 16);
    transition-duration: 1s;
}
.home_title {
    position: absolute;
    top: 50%;
    color: rgb(246, 247, 248);
    font-size: 60px;
    font-weight: bold;
}
.booking_button {
    position: absolute;
    top: 65%;
    background-color: rgb(77, 186, 230);
    padding: 10px 30px;
    border-radius: 10px;
}
.booking_button .button {
    color: #fff;
}
.booking_button .button:hover {
    padding: 10px 40px;
    transition-duration: 700ms;
}

/*Information block*/

.information {
    max-width: 1280px;
    padding: 0 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-block {
    padding: 10px 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10px;
}
.info-text {
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
}
.info-img {
    background-image: url("../images/img2.jpg");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    background-position: center center;
    background-size: cover;
}
.block2 {
    display: flex;
    flex-direction: column-reverse;
}
